<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

 

  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="BasicHttpBinding_IBoatService" />
                    <binding name="BasicHttpBinding_ISessionService" />
                    <binding name="BasicHttpBinding_IGpsService" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:65025/Services/BoatService/BoatService.svc"
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoatService"
                    contract="BoatService.IBoatService" name="BasicHttpBinding_IBoatService" />
              <endpoint address="http://localhost:65025/Services/SessionService/SessionService.svc"
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                    contract="ServiceReference.ISessionService" name="BasicHttpBinding_ISessionService" />
              <endpoint address="http://localhost:65025/Services/GpsService/GpsService.svc"
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGpsService"
                    contract="GpsServiceReference.IGpsService" name="BasicHttpBinding_IGpsService" />
        </client>
    </system.serviceModel>
</configuration>