<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="SailingContext" connectionString="data source=H-PEREVERZIEVA2;initial catalog=SailingManagerDB;Integrated Security=True;Connect Timeout=35;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBoatService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65025/Services/BoatService/BoatService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoatService"
                contract="BoatService.IBoatService" name="BasicHttpBinding_IBoatService" />
        </client>
    </system.serviceModel>
</configuration>