<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--<connectionStrings>
    <add name="DinnerOfWorkersDbContext" connectionString="Data Source=h-pereverzieva;Initial Catalog=Dinner;Integrated Security=True;Connect Timeout=35;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--<connectionStrings>
    <add name="SailingContext" connectionString="metadata=res://*/SailingDbModel.csdl|res://*/SailingDbModel.ssdl|res://*/SailingDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=H-PEREVERZIEVA2;initial catalog=SailingManagerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
   
  </entityFramework>
</configuration>